# Исключение виртуального окружения
venv/
.venv/

# Исключение временных файлов Python
*.pyc
__pycache__/

# Исключение базы данных SQLite
db.sqlite3

# Исключение файлов с переменными окружения
.env

# Исключение логов
*.log
# PyCharm
.idea/
*.iml